# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# dotenv environment variables file
.env

# Build / generate output
dist
build/postgres/
bin
build.out
test.out
test/garbage/*.out
test/pass.out
test/run.out
test/times.out

# Other stuff
.DS_Store
.dccache
